@tailwind base;
@tailwind components;
@tailwind utilities;




@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.5s ease-out;
}


html.dark body {
  background-color: #0f172a; 
  color: #f1f5f9; 
  transition: background-color 0.3s ease, color 0.3s ease;
}